*{margin:0;padding:0;box-sizing: border-box;}
body{background: #F2F2F2;color:#444444;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;}

header,main,footer {
    display: flex;
    justify-content: center;
    align-content: center;
}

header > div{
    /* border:1px solid rgb(139, 0, 104); */
    text-align: center;
    width: 922px;
    padding-bottom: 30px;
    padding-top: 60px;
    font-size: 20px;
}

header > div > p{
    padding-top: 10px;
    font-size: 14px;
}

main > .picWindow{
    /* border: 1px solid; */
    height: 447px;
    width: 922px;
    border-radius: 4px;
    display: flex;
    overflow: hidden;
}

.swiper-container {
    height: 447px;
    width: 922px;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
main > .picWindow > img{
    width: 922px;
}

footer > .footer{
    /* border:1px solid rgb(74, 139, 0); */
    width: 922px;
    text-align: center;
    padding: 40px 0px;
    font-size: 14px;
}

