*{margin:0;padding:0;box-sizing: border-box;}
body{background: #F2F2F2;color:#444444;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;}

header,main,footer {
    display: flex;
    justify-content: center;
    align-content: center;
}

header > div{
    /* border:1px solid rgb(139, 0, 104); */
    text-align: center;
    width: 922px;
    padding-bottom: 40px;
    padding-top: 60px;
    font-size: 20px;
}

main > .picWindow{
    border: 1px solid;
    height: 447px;
    width: 922px;
    border-radius: 4px;
    display: flex;
    overflow: hidden;
}
main > .picWindow > img{
    width: 922px;
}

footer > .footer{
    /* border:1px solid rgb(74, 139, 0); */
    width: 922px;
    text-align: center;
    padding: 30px 0px;
    font-size: 14px;
}